---
layout: default
ref: index
lang: en
---

<!-- banner -->
<header id="home">
	<div class="container">
		<div class="table">
			<div class="header-text">
				<div class="flex-row">
					<div class="col-md-12 text-center">
						<h3 class="light white">{% t banner.line1 %}</h3>
						<h1 class="white typed">{% t banner.typewriter %}</h1>
						<span class="typed-cursor">|</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- about -->
<section id="about" class="section section-padded gray-bg">
	<div class="container">
		<div class="flex-row text-center title">
			<h1>{% t sections.about.heading %}</h1>
			<p class="text-left"> {% t sections.about.paragraphs.line1 %}</p>
			<p class="text-left"> {% t sections.about.paragraphs.line2 %}</p>
			<p class="text-left"> {% t sections.about.paragraphs.line3 %}</p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="about light-shadow">
					<div class="icon-holder">
						<img src="/img/icons/scalable.png" alt="" class="icon">
					</div>
					<h4 class="heading">{% t sections.about.images.block1.heading %}</h4>
					<p class="description">{% t sections.about.images.block1.text %}</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about light-shadow">
					<div class="icon-holder">
						<img src="/img/icons/community.png" alt="" class="icon">
					</div>
					<h4 class="heading">{% t sections.about.images.block2.heading %}</h4>
					<p class="description">{% t sections.about.images.block2.text %}</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="about light-shadow">
					<div class="icon-holder">
						<img src="/img/icons/simple.png" alt="" class="icon">
					</div>
					<h4 class="heading">{% t sections.about.images.block3.heading %}</h4>
					<p class="description">{% t sections.about.images.block3.text %}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="cut cut-bottom"></div>
</section>
<!-- roadmap -->
<section id="roadmap" class="section section-padded">
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="flex-row text-center title">
			<h1 class="centered">{% t sections.roadmap.heading %}</h1>
			<p class="light muted">{% t sections.roadmap.paragraph %}</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="timeline">
					{% for order in (1..30) %}
					{% for goal in site.data[page.lang].roadmap %}
					{% assign wingman = goal[1] %}
					{% if wingman.order == order %}
					<div class="timeline-container {{ wingman.alignment }}">
						<div class="timeline-content">
							{% if wingman.year %}
							<p class="timeline-date">
								{% if wingman.quarter %}
								Q{{ wingman.quarter }}
								{% endif %}
								{{ wingman.year }}</p>
								{%endif%}
								<h2>{{ wingman.title }}</h2> 
								{% if wingman.complete == "true" %}<span style="color: #4cb85f; display: inline-block;"><i class="fa fa-check" aria-hidden="true"></i></span>{% endif %}
								<p> {{ wingman.desc }} </p>
						</div>
					</div>
					{% endif %}
					{% endfor %}
					{% endfor %}s
				</div>
			</div>
		</div>
	</div>
	<div class="cut cut-bottom"></div>
</section>
<!-- team -->
<section id="team" class="section gray-bg">
	<div class="container">
		<div class="flex-row title text-center">
			<h1 class="centered">{% t sections.team.heading %}</h1>
			<p class="light muted">{% t sections.team.paragraph %}</p>
		</div>
		<div class="row">
			{% for order in (1..12) %}
			{% for teammate in site.data[page.lang].team %}
			{% assign member = teammate[1] %}
			{% if member.order == order %}
			<div class="col-md-4">
				<div class="team text-center light-shadow">
					<img src="/img/team/{{ member.image }}" alt="Team Image" class="avatar">
					<div class="title">
						<h4>{{ member.name }}</h4>
						<h5 class="muted regular">{{ member.role }}</h5>
					</div>
					{% if member.social.github %}
					<span class="team-social"><a href="https://github.com/{{ member.social.github }}" target="_blank"><i class="fa fa-github-square"></i></a></span>
					{% endif %}
					{% if member.social.linkedin %}
					<span class="team-social"><a href="https://linkedin.com/{{ member.social.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a></span>
					{% endif %}
					{% if member.social.twitter %}
					<span class="team-social"><a href="https://twitter.com/{{ member.social.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i></a></span>
					{% endif %}
				</div>
			</div>
			{% endif %}
			{%endfor%}
			{%endfor%}
		</div>
	</div>
</section>
<!-- resources -->
<section id="resources" class="section section-padded">
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="flex-row text-center title">
			<h1 class="centered">Resources</h1>
			<p class="light muted">Links and junk</p>
		</div>
		<div class="row">
			BLOCK EXPLORER <BR/>
			WEB WALLET <BR/>
			WALLET GENERATOR<BR/> 
			MINING POOLS</BR>
		</div>
	</div>
	<div class="cut cut-bottom"></div>
</section>
<!-- downloads -->
<section id="downloads" class="section section-padded gray-bg">
	<div class="container">
		<div class="flex-row text-center title">
			<h1 class="centered">{% t sections.downloads.heading %}</h1>
			<p class="light muted">{% t sections.downloads.paragraph %}</p>
		</div>
		<div class="row centered">
			{% for os in site.data[page.lang].downloads %}
			{% assign opsys = os[1] %}
			<div class="col-md-6">
				<div class="downloads light-shadow">
					<h2 class="centered">
					<i class="fa fa-{{opsys.system | downcase}}"></i> 
					{% if opsys.system contains "Apple" %} Mac {% else %} {{ opsys.system }} {% endif %} 
					{% if opsys.arch %} {{ opsys.arch }}-bit {% endif %}
					</h2>
					{% for release in opsys.releases %}
					{% if release.type contains "GUI" %}
						<p>
							<a href="{{ release.url }}" target="_blank">{{ opsys.system }} Graphical User Interface (GUI)</a></p>						
							<p>{% t sections.downloads.version %}: {{ release.version }} {{ release.codename }}
						</p>
						Official SHA256 Hash: <pre>{{ release.sha256 }}</pre>
					{% endif %}
					{% if release.type contains "CLI" %}
							<p><a href="{{ release.url }}" target="_blank">{{ opsys.system }} Command Line Interface (CLI)</a></p>
							<p>{% t sections.downloads.version %}: {{ release.version }} {{ release.codename }}
						</p>
						Official SHA256 Hash: <pre>{{ release.sha256 }}</pre>
					{% endif %}
					{% if release.type contains "Play" %}
						<a href="{{ release.url }}" target="_blank"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width=50%></a><p>{% t sections.downloads.version %}: {{ release.version }} {{ release.codename }}
						</p>
					{% endif %}
				{% endfor %}
				</div>
			</div>
				{% endfor %}
		</div>
	</div>
</section>
<!-- research -->
<section id="research" class="section section-padded">
	<div class="container">
		<div class="flex-row text-center title">
			<h1 class="centered">{% t sections.research.heading %}</h1>
			<p class="light muted">{% t sections.research.paragraph %}</p>
		</div>
		<div class="row centered">
			<div class="col-md-12">
				{% for order in (1..10) %}
				{% for research in site.data[page.lang].research %}
				{% assign article = research[1] %}
				{% if article.order == order %}
				<div class="abstract light-shadow">
				<h4>
					<a href="{{ article.url }}" target="_blank">
					{{ article.title }}
					</a>
				</h4>
				<p>{% t sections.research.abstract %}: {{ article.abstract }}</p>
				</div>
				{%endif%}
				{%endfor%}
				{%endfor%}
			</div>
		</div>
</section>
