---
layout: default
ref: index
lang: en
---

<!-- this area contains all the sections --> 
	<header id="home">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">{{ site.data.langs[page.lang].banner.line1 }}</h3>
							<h1 class="white typed">{{ site.data.langs[page.lang].banner.typewriter }}</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section id="about" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>{{ site.data.langs[page.lang].sections.about.heading }}</h2>
				<p> {{ site.data.langs[page.lang].sections.about.paragraphs.line1 }}</p>
				<p> {{ site.data.langs[page.lang].sections.about.paragraphs.line2 }}</p>
				<p> {{ site.data.langs[page.lang].sections.about.paragraphs.line3 }}</p>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="img/scalable.png" alt="" class="icon">
						</div>
						<h4 class="heading">{{ site.data.langs[page.lang].sections.about.images.block1.heading }}</h4>
						<p class="description">{{ site.data.langs[page.lang].sections.about.images.block1.text }}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="img/community.png" alt="" class="icon">
						</div>
						<h4 class="heading">{{ site.data.langs[page.lang].sections.about.images.block2.heading }}</h4>
						<p class="description">{{ site.data.langs[page.lang].sections.about.images.block2.text }}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="img/simple.png" alt="" class="icon">
						</div>
						<h4 class="heading">{{ site.data.langs[page.lang].sections.about.images.block3.heading }}</h4>
						<p class="description">{{ site.data.langs[page.lang].sections.about.images.block3.text }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="roadmap" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Roadmap</h2>
				<h4 class="light muted">Area for description.</h4>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="timeline">
					  <div class="timeline-container left">
					    <div class="timeline-content">
					      <h2>2017</h2>
					      <p>Lorem ipsum..</p>
					    </div>
					  </div>
					  <div class="timeline-container right">
					    <div class="timeline-content">
					      <h2>2016</h2>
					      <p>Lorem ipsum..</p>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="team" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Team</h2>
				<h4 class="light muted">A band of misfits with a common goal</h4>
			</div>
			<div class="row">
				{% for teammate in site.data.team %}
				{% assign member = teammate[1] %}
				<div class="col-md-4">
					<div class="team text-center">
						<img src="img/team/{{ member.image }}" alt="Team Image" class="avatar">
						<div class="title">
							<h4>{{ member.name }}</h4>
							<h5 class="muted regular">{{ member.role }}</h5>
						</div>
						{% if member.social.github %}
						<span class="team-social"><a href="https://github.com/{{ member.social.github }}" target="_blank"><i class="fa fa-github-square"></i></a></span>
						{% endif %}
						{% if member.social.linkedin %}
						<span class="team-social"><a href="https://linkedin.com/{{ member.social.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i></a></span>
						{% endif %}
						{% if member.social.twitter %}
						<span class="team-social"><a href="https://twitter.com/{{ member.social.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i></a></span>
						{% endif %}
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</section>
	<section id="downloads" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Downloads</h2>
				<h4 class="light muted">Release file area</h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					Windows
				</div>
				<div class="col-md-4">
					<div class="service">
						Linux
				</div>
				<div class="col-md-4">
					<div class="service">
						Mac
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="resources" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Resources</h2>
				<h4 class="light muted">Links and junk</h4>
			</div>
			<div class="row">
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>