	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h3>Exchanges</h3>
					<div class="col-sm-8">
						<!--Table-->
						<table class="table table-striped w-auto">
						  <!--Table head-->
						  <thead>
						    <tr>
						      <th>Exchange name</th>
						      <th>BTC Value</th>
						      <th>24H Volume </th>
						    </tr>
						  </thead>
  							<!--Table head-->
  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <th scope="row"><a href="https://tradeogre.com/exchange/BTC-MSR" target="_blank">TradeOgre</a></th>
      <td class="ogre-btc">-</td>
      <td class="ogre-usd">-</td>
  </tr>
  <tr>
      <th scope="row"><a href="https://www.southxchange.com/Market/Book/MSR/BTC" target="_blank">SouthXChange</a></td>
      <td class="southex-btc">-</td>
      <td class="southex-usd">-</td>
  </tr>
  <tr class="table-info">
  	<th scope="row"><a href="https://crex24.com/exchange/MSR-BTC" target="_blank">Crex24</a></th>
      <td class="crex-btc">-</td>
      <td class="crex-usd">-</td>
    </tr>
      <tr>
      <th scope="row"><a href="https://app.stocks.exchange/en/basic-trade/pair/BTC/MSR/" target="_blank">Stex</a></td>
      <td class="stex-btc">-</td>
      <td class="stex-usd">-</td>
  </tr>
</tbody>
</table>
					</div>

				</div>
			</div>
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; 2018-2019 All Rights Reserved. The Masari Project</p>
				</div>
				<div class="col-sm-4 text-right text-center-mobile">
					<ul class="social-footer">
						<li><a href="https://www.facebook.com/masari"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.twitter.com/masari"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://github.com/masari-project"><i class="fa fa-github"></i></a></li>
						<li><a href="https://medium.com/@officialmasari"><i class="fa fa-medium"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
	<!-- Scripts -->
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/typewriter.js"></script>
	<script src="/js/jquery.onepagenav.js"></script>
	<script src="/js/main.js"></script>